:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-background: #F5F4FA;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--title-text-color);
}
.logo span {
  color: var(--accent-color);
}

/* Nav style */

.nav .link {
  color: var(--title-text-color);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--title-text-color);
}

.nav-contacts .link {
  color: var(--primary-text-color);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}

button {
  background-color: var(--primary-background);
}

button:hover,
button:focus{
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  }
