:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color:  #2196F3;
  --primary-white-color: #FFFFFF;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color)
}

.logo {
  color: --title-text-color;
}
.logo .span {
  color: --accent-color;
}
